<h1>All of the Kittens</h1>
<br>
<% @kittens.each do |kitten| %>
  <ul>
    <li>Name: <%= kitten.name %></li>
    <li>Age: <%= kitten.age %></li>
    <li>Cuteness: <%= kitten.cuteness %></li>
    <li>Softness: <%= kitten.softness %></li>
    <li><%= link_to "Delete", kitten_path(kitten.id), method: :delete %></li>
  </ul>
<% end %>
