<h2>Just One Kitten</h2>
<h4><%= @kitten.name %></h4>
<br>
Age: <%= @kitten.age %>
<br>
Cuteness: <%= @kitten.cuteness %>
<br>
Softness: <%= @kitten.softness %>
<br>
<%= link_to "Delete", kitten_path(@kitten.id), method: :delete %>
